[{:itonami.blueprint/social-impact [:worker-safety :water-safety :production-continuity]
  :itonami.blueprint/domain :fishery/fishery-aquaculture-site-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "9216"
  :itonami.blueprint/name "Fishery and Aquaculture Site Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :fishery-aquaculture-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-9216"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
